#balance {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#manager {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#transactions {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#rup {
  font-family: 'Roboto', sans-serif
}