#balance {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#manager {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#transactions {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#rup {
  font-family: 'Roboto', sans-serif
}

@keyframes scan {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(350px);
  }
}

.animate-scan {
  animation: scan 2s linear infinite alternate;
}